@page "/"

<PageTitle>Index</PageTitle>

<h1>Benvenuti</h1>

<AuthorizeView>
    <Authorized>
        Welcome to your new app.
    </Authorized>
    <NotAuthorized>
        <div class="d-grid gap-2">
            <a class="btn btn-outline-primary btn-lg" href="/login/twitter">
                Login with Twitter
            </a>
            <a class="btn btn-outline-primary btn-lg" href="/login/github">
                Login with GitHub
            </a>
        </div>
    </NotAuthorized>
</AuthorizeView>

