@page "/"

<PageTitle>Index</PageTitle>

<h1>Benvenuti</h1>

<AuthorizeView>
    <Authorized>
        Welcome to your new app.
    </Authorized>
    <NotAuthorized>
        <LoginProviders />
    </NotAuthorized>
</AuthorizeView>

