@page "/expenses/new"

@inject ExpensesService Service
@inject NavigationManager Navigation

@inject IStringLocalizer<Resources.Pages.NewExpense> Localizer
@inject IStringLocalizer<Resources.Shared> SharedLocalizer

@attribute [Authorize]

<PageTitle>@Localizer[nameof(Resources.Pages.NewExpense)]</PageTitle>

<PageLayout Title="@Localizer[nameof(Resources.Pages.NewExpense)]">
    <Toolbar>
        <a class="btn btn-outline-primary" href="expenses">
            <span class="oi oi-caret-right"></span>
        </a>
    </Toolbar>
    <Content>
        @if (!string.IsNullOrWhiteSpace(errorMessage))
        {
            <div class="row">
                <div class="alert alert-danger">@errorMessage</div>
            </div>
        }

        <ExpenseForm Model="model"
                     OnSave="AddNewExpense"
                     OnCancel="Cancel" />
    </Content>
</PageLayout>

@code {
    private ExpenseModel model = new();

    private string? errorMessage;

    async Task AddNewExpense(ExpenseModel expense)
    {
        try
        {
            await Service.AddNewExpenseAsync(expense);
            model = new();

            Navigation.NavigateTo("expenses");
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    void Cancel() => model = new();


}
