@page "/expenses/new"

@inject ExpensesService Service
@inject NavigationManager Navigation

@inject IStringLocalizer<Resources.Pages.NewExpense> Localizer
@inject IStringLocalizer<Resources.Shared> SharedLocalizer

@attribute [Authorize]

<PageTitle>@Localizer[nameof(Resources.Pages.NewExpense)]</PageTitle>

<h3>@Localizer[nameof(Resources.Pages.NewExpense)]</h3>

<ExpenseForm Model="model"
             OnSave="AddNewExpense"
             OnCancel="Cancel"/>

@code {
    private ExpenseModel model = new();

    private string? errorMessage;

    async Task AddNewExpense()
    {
        try
        {
            await Service.AddNewExpenseAsync(model);
            model = new();

            Navigation.NavigateTo("expenses");
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    void Cancel() => model = new();


}
