@page "/shoppinglist/new"
@inject ShoppingListService Service
@inject NavigationManager Navigation

@attribute [Authorize]

<PageLayout Title="NewShoppingList">
    <Toolbar>
        <a class="btn btn-outline-primary" href="shoppinglist">
            <i class="fa-solid fa-caret-right"></i>
        </a>
    </Toolbar>
    <Content>
        <ShoppingListForm Model="model"
                          OnSave="AddNewShoppingListAsync" />
    </Content>
</PageLayout>

@code {
    private ShoppingListModel model = new();

    async Task AddNewShoppingListAsync(ShoppingListModel shoppingList)
    {
        try
        {
            await Service.CreateShoppingListAsync(shoppingList);
            model = new();

            Navigation.NavigateTo("shoppinglist");
        }
        catch (Exception ex)
        {
            //TODO gestisco l'eccezione
        }
        finally
        {
            //TODO gestisco il finally
        }
    }
}
