@page "/shoppinglist"
@inject ShoppingListService Service

@attribute [Authorize]

<PageLayout Title="ShoppingList">
    <Toolbar>
        <a class="btn btn-outline-primary" href="shoppinglist/new">
            <i class="fa-solid fa-plus"></i>
        </a>
    </Toolbar>
    <Content>
        @if (!model.Items.Any())
        {
            <h4>Nessuna lista della spesa</h4>
        }
        else
        {
            <div class="row">
                @foreach (var item in model.Items)
                {
                    <div class="col-md-4 mb-2">
                        <ListItem Title="@item.Title">
                            <Actions>
                                <div class="btn-group">
                                    <a href="shoppinglist/@item.Id" class="btn btn-m btn-outline-primary">View</a>
                                    <button type="button" class="btn btn-m btn-danger">Delete</button>
                                </div>
                            </Actions>
                            <ChildContent>
                                <dl>
                                    <dt># of items</dt>
                                    <dd>@item.NumberOfItems</dd>
                                </dl>
                            </ChildContent>
                        </ListItem>
                    </div>
                }
            </div>
        }
    </Content>
</PageLayout>

@code {
    private ShoppingListItemsModel model = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        model = await Service.GetShoppingListItemsAsync();
    }
}
