<div class="d-grid gap-2">
    <a class="btn btn-outline-primary btn-lg" href="/login/twitter">
        Login with Twitter
    </a>
    <a class="btn btn-outline-primary btn-lg" href="/login/github">
        Login with GitHub
    </a>
</div>