<div class="d-grid gap-2">
    <a class="btn btn-outline-primary btn-lg" href="/.auth/login/twitter">
        Login with Twitter
    </a>
    <a class="btn btn-outline-primary btn-lg" href="/.auth/login/github">
        Login with GitHub
    </a>
</div>