<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <a href="/logout?post_logout_redirect_uri=/">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="/login/twitter">Log in</a>
    </NotAuthorized>
</AuthorizeView>