@inherits LayoutComponentBase

<div class="page">
    <header>
        <NavMenu />
    </header>

    <main>
        <article class="container content">
            @Body
        </article>
    </main>
</div>
