<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="">ExpenseTracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav">
            <AuthorizeView>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="expenses">
                            My Expenses
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="shoppinglist">
                            My Shopping list
                        </NavLink>
                    </li>
                </ul>
            </AuthorizeView>
            <div class="d-flex">
                <LoginDisplay />
            </div>
        </div>
    </div>
</nav>

@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ExpenseTracker.Web.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="expenses">
                <span class="oi oi-list-rich" aria-hidden="true"></span> My Expenses
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="expenses/new">
                <span class="oi oi-list-rich" aria-hidden="true"></span> New Expense
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shoppinglist/new">
                <span class="oi oi-list-rich" aria-hidden="true"></span> New Shopping list
            </NavLink>
        </div>
    </nav>
</div>*@

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
